header {
	background: #1c0370;
	padding: 10px 0;
	font color: #FFFFFF;
}

body {
	background: #EEE8AA;
}

h2{ 
	text-align: rgb(145, 16, 7);
	margin: 20px;
	padding: 2px;
	font-size: 2em;
	font-weight: bold; 
	font-family: 'Rubik Distressed', cursive;
	
}
h3 {
	font: #FFFFFF;
	margin: 5px;
	padding: 2px;
	font-size: 2em;
	font-weight: bold; 
	font-family: 'Rubik Distressed', comic sans-serif;
}
h4 {
	font: #FFFFFF;
	margin: 20px;
	padding: 2px;
	font-size: 2em;
	font-weight: bold; 
	font-family: 'Rubik Distressed', comic sans-serif;
}
h5 {
	font-size: 2em;
	font-weight: bold; 
	text-align: center;
}
